* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Arial;
}

body {
  background: linear-gradient(
    90deg,
    rgb(181, 133, 23) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 800px;
  min-height: 600px;
  background: #515b84;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #515b84;
  font-size: 60px;
  background-color: #000000;
}

.complete {
  text-decoration: wavy line-through;
  opacity: 0.4;
}

.task-form {
  margin-bottom: 32px;
}

.task-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #ee00ff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.task-input::placeholder {
  color: #e2e2e2;
}

.task-button {
  padding: 15.75px;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(238, 0, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.task-input.edit {
  border: 2px solid #c8ff00;
}

.task-button.update {
  background: linear-gradient(
    90deg,
    rgb(175, 107, 231) 0%,
    rgba(56, 101, 126) 100%
  );
  padding: 16px 2200px;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(104, 57, 143) 0%,
    rgb(21, 111, 159) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.task-row:nth-child(2n) {
  background: linear-gradient(
    90deg,
    rgba(238, 0, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #f9f9f9;
}

.edit-icon {
  color: #ffffff;
}
